:root{
    --main-color:#fa9805;
    --black:#244361;
    --box-shadow:0 5px 10px rgba(0,0,0,.1);
}
*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none !important;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
},
html{
    scroll-padding-top: 60px;
}
body{
    background-color:var(--main-color);
    min-height: 100vh;
    background: url(background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper{
    width: 450px;
    background-color: #ffffff;
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 20px 25px rgba(0,0,0,0.25);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.container{
    width: 45%;
}

.content h3{
    padding:5px 0;
    font-size: 20px;
    text-align: center;
    padding:0 15px;
    margin-top: 25px;;
    padding-bottom: 5px;
    color:var(--black);
    font-size: 30px;
}
.box{
    flex:1 1 300px;
    background:#f8f8fe;
    border-radius: 5px;
    text-align: center;
}
.box p{
     
    color:var(--black);
    font-size: 14px;

}

input{
    width: 120%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #71e926;
    outline:#fa9805;
    margin-top: 8px;
    padding: 0 10px;
}
input:focus{
    border-color: #154cf3;
}